<!DOCTYPE html>
<html>
  <head>
    <title>unLeashd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.dogParkURL = "<%= image_url('dog_park.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
